<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>nabble.io - coming soon</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="all,follow">
	<!-- Bootstrap and Font Awesome css-->
	<link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<!-- Google fonts-->
	<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type="text/css">
	<!-- Stylesheet-->
	<link href="~/css/site.min.css" rel="stylesheet" type="text/css">
	<!-- Favicon-->
	<link rel="apple-touch-icon" sizes="57x57" href="~/images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="~/images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="~/images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="~/images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="~/images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="~/images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="~/images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="~/images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="~/images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="~/images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="~/images/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="~/images/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<!-- Tweaks for older IEs-->
	<!--[if lt IE 9]>
		<script src="~/lib/html5shiv/dist/html5shiv.js"></script>
		<script src="~/lib/respondJs/dest/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="main">
		<div class="overlay"></div>
		<div class="container">
			<p class="social"><a href="https://www.facebook.com/SpatialFocus/" title="" class="facebook"><i class="fa fa-facebook"></i></a><a href="https://twitter.com/SpatialFocus" title="" class="twitter"><i class="fa fa-twitter"></i></a><a href="https://github.com/SpatialFocus" title="" class="github"><i class="fa fa-github"></i></a></p>
			<h1 class="cursive">nabble.io</h1>
			<h2 class="sub">.NET Analyzers Badge Builder</h2>
			<h4 class="sub">lightweight edition</h4>
			<div class="mailing-list">
				<h3 class="mailing-list-heading">Join our mailing list and we will notify you once it is ready!</h3>
				<div class="row">
					<form action="//nabble.us13.list-manage.com/subscribe/post?u=893b2e9556f64dbd185cbb201&amp;id=ea147244e9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline validate" novalidate>
						<div class="form-group">
							<label for="email" class="sr-only"></label>
							<input type="email" placeholder="yourname@yourhost.com" name="EMAIL" id="mce-EMAIL" class="email form-control transparent" required>
							<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_893b2e9556f64dbd185cbb201_ea147244e9" tabindex="-1" value=""></div>
						</div>
						<input type="submit" value="subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-danger"/>
					</form>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<p>&copy; 2016 nabble.io<br />Design by <a href="http://bootstrapious.com/p/coming-soon-template" target="_blank">Bootstrapious</a> and <a href="http://kakusei.cz" target="_blank">Kukusei</a></p>
					</div>
					<div class="col-md-6">
						<p class="credit">Made with <i class="fa fa-heart"></i><br />by <a href="https://spatial-focus.net">Spatial Focus</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- JAVASCRIPT FILES -->
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')</script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="~/js/site.min.js"></script>
	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-60209617-2', 'auto');
		ga('send', 'pageview');

	</script>
</body>
</html>