<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AnalyzerLogging" version="1.0.0-alpha1" targetFramework="net451" developmentDependency="true" />
  <package id="Desktop.Analyzers" version="1.2.0-beta1" targetFramework="net451" />
  <package id="Fody" version="1.28.3" targetFramework="net451" developmentDependency="true" />
  <package id="MethodCache.Fody" version="1.5.0-alpha1" targetFramework="net451" />
  <package id="Microsoft.ApiDesignGuidelines.Analyzers" version="1.2.0-beta1" targetFramework="net451" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="1.2.0-beta1" targetFramework="net451" />
  <package id="Microsoft.Maintainability.Analyzers" version="1.2.0-beta1" targetFramework="net451" />
  <package id="Microsoft.Net.Compilers" version="2.0.0-beta1" targetFramework="net451" developmentDependency="true" />
  <package id="Microsoft.QualityGuidelines.Analyzers" version="1.2.0-beta1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net451" />
  <package id="OpenCover" version="4.6.519" targetFramework="net451" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="System.Collections.Immutable.Analyzers" version="1.2.0-beta1" targetFramework="net451" />
  <package id="System.Resources.Analyzers" version="1.2.0-beta1" targetFramework="net451" />
  <package id="System.Runtime.Analyzers" version="1.2.0-beta1" targetFramework="net451" />
  <package id="System.Runtime.InteropServices.Analyzers" version="1.2.0-beta1" targetFramework="net451" />
  <package id="System.Security.Cryptography.Hashing.Algorithms.Analyzers" version="1.2.0-beta1" targetFramework="net451" />
  <package id="System.Threading.Tasks.Analyzers" version="1.2.0-beta1" targetFramework="net451" />
  <package id="Text.Analyzers" version="1.2.0-beta1" targetFramework="net451" />
  <package id="xunit.runner.console" version="2.1.0" targetFramework="net451" />
</packages>